

<link rel="stylesheet" href="<%= assetPath('css/sign_up.css') %>">

<!-- <div id="sign-up">

<h1> SIGN UP </h1>

<form action="/users/create" action="/validate-form" method="post">
    <div id="name">
    <label for="name"> NAME </label>
	<input type="text" name="name" placeholder="Your Name" required>
	</div>
	<div id="email">
    <label for="email"> EMAIL </label>
	<input type="email" name="email" placeholder="Your Email" required>
	</div>
	<div id="pass">
    <label for="password"> PASSWORD </label>
	<input type="password" name="password" placeholder="Your Password" autocomplete="off" required>
	</div>
	<div id="confirm-pass">
    <label for="confirm-passworrd"> CONFIRM PASSWORD </label>
	<input type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off" required>
	</div>

	<button type="submit">Sign Up</button>
	
</form>

<p>
	<a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>

</div> -->


<form action="/users/create" method="post">
	<input id="input-1" type="text"  name="name" autocomplete="off" required />
	<label for="input-1">
	  <span class="label-text">Name</span>
	  <span class="nav-dot"></span>
	  <div class="signup-button-trigger">Sign Up</div>
	  
	<div><a href="/users/auth/google" style="position: absolute; margin-left: 44%; top: 70%; ">Google Sign In/Sign Up</a></div>
	</label>
	<input id="input-2"  type="email" name="email"  required />
	<label for="input-2">
	  <span class="label-text">Email</span>
	  <span class="nav-dot"></span>
	</label>
	<input id="input-3" type="password" name="password" pattern="[0-9a-fA-F]{4,8}" required/>
	<label for="input-3">
	  <span class="label-text">Password</span>
	  <span class="nav-dot"></span>
	</label>
	<input id="input-4" type="password" name="confirm_password"  required />
	<label for="input-4">
	  <span class="label-text">Confirm Password</span>
	  <span class="nav-dot"></span>
	</label>
	<!-- <input id="input-5" type="text" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
	<label for="input-5">
	  <span class="label-text">Confirm Password</span>
	  <span class="nav-dot"></span>
	</label> -->
	<button type="submit">Create Your Account</button>
	<p class="tip">Press Enter</p>
	<div class="signup-button">Sign Up</div>
  </form>

 
  
