
#sign-in-up-out{
	display: flex;
	justify-content: space-between;
	background: linear-gradient(to right,rgb(207, 226, 233), #fc654a) ;
	height: 3rem;
	h1{
		color: rgb(243, 36, 0);
		&:hover{
          color: #111519;
          cursor: pointer;
		}
		font-family: 'Fasthand', cursive;
		margin: 0 0 0 1rem;
	}
	ul{
	   li{
		display: inline;
		list-style: none;
		font-family: 'Comfortaa', cursive;
		margin: 2rem;
		font-size: large;
		:hover{
          color: rgb(14, 48, 161);
              }
              a{
		         text-decoration: none;
		         color: white;
	            }
	      }
       }
}