
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(253, 99, 99);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom,rgb(225, 255, 255),transparent);
    border-radius:5px;
 }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background-image: linear-gradient(to bottom,white,transparent);

}
body{
	margin: 0;
	#layout-main{
		height: 100vh;
	background-color: rgb(225, 255, 255);
		overflow-y: scroll;
		&::-webkit-scrollbar{
        display: none;
}
		
	}
	 
}


