#sign-in-up-out {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right,rgb(255, 255, 255), #817d7d);
  height: 3rem; }
  #sign-in-up-out h1 {
    color: rgb(10, 10, 10);;
    font-family: 'Fasthand', cursive;
    margin: 0 0 0 1rem; }
    #sign-in-up-out h1:hover {
      color: #111519;
      cursor: pointer; }
  #sign-in-up-out ul li {
    display: inline;
    list-style: none;
    font-family: 'Comfortaa', cursive;
    margin: 2rem;
    font-size: large; }
    #sign-in-up-out ul li :hover {
      color: rgb(10, 68, 255); }
    #sign-in-up-out ul li a {
      text-decoration: none;
      color: white; }


    



      