#home-container {
  display: flex; }
  #home-container #create-post {
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px; }
    #home-container #create-post:focus {
      outline: none; }
    #home-container #create-post::placeholder {
      color: black; }
  #home-container #post-btn {
    border-radius: 10px;
    background-color: rgb(223, 211, 243);
    color: black;
    border: none; }
    #home-container #post-btn:focus {
      outline: none; }
    #home-container #post-btn:hover {
      background-color: rgb(149, 57, 235); }
  #home-container #posts-list-container {
    margin-left: -2rem; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px;
    background-color: #f2eefd;
     }
    #home-container #feed-posts h4 {
      color: white;
      font-family: 'Comfortaa', cursive;
      height: 1rem;
      background-image: linear-gradient(to right, #fc654a, transparent);
      padding: 1rem 1rem 1rem 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
  #home-container #users-container {
    width: 30%;
    padding: 10px;
    min-height: 50rem;
    border-left: 1px solid #fff8f7;
    background-color: #d4f4f5;
    left: 71vw; }

      
    

     
